<html>
<head>
<title>home.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #a9b7c6;}
.s1 { color: #e8bf6a;}
.s2 { color: #bababa;}
.s3 { color: #a5c261;}
.ln { color: #606366; font-weight: normal; font-style: normal; }
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
home.html</font>
</center></td></tr></table>
<pre><a name="l1"><span class="ln">1    </span></a><span class="s0">{% load static %}</span>
<a name="l2"><span class="ln">2    </span></a>
<a name="l3"><span class="ln">3    </span></a><span class="s0">{% block content %}</span>
<a name="l4"><span class="ln">4    </span></a><span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container-fluid&quot;</span><span class="s1">&gt;</span>
<a name="l5"><span class="ln">5    </span></a>    <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;row&quot;</span><span class="s1">&gt;</span>
<a name="l6"><span class="ln">6    </span></a>        <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;col-md-12&quot;</span><span class="s1">&gt;</span>
<a name="l7"><span class="ln">7    </span></a>            <span class="s1">&lt;div </span><span class="s2">style</span><span class="s3">=&quot;background-color:LightCoral; 
<a name="l8"><span class="ln">8    </span></a>width :100%; height :100%; 
<a name="l9"><span class="ln">9    </span></a>margin-bottom:50px;&quot; </span><span class="s2">class</span><span class="s3">=&quot;banner&quot;</span><span class="s1">&gt;</span>
<a name="l10"><span class="ln">10   </span></a>                <span class="s1">&lt;div </span><span class="s2">style</span><span class="s3">=&quot;top:0%;left:50%;position:absolute;transform:transform;&quot;  </span><span class="s2">class</span><span class="s3">=&quot;banner-text&quot;</span><span class="s1">&gt;</span>
<a name="l11"><span class="ln">11   </span></a>                    <span class="s1">&lt;h1&gt;</span><span class="s0">TODO</span><span class="s1">&lt;/h1&gt;</span>
<a name="l12"><span class="ln">12   </span></a>                <span class="s1">&lt;/div&gt;</span>
<a name="l13"><span class="ln">13   </span></a>            <span class="s1">&lt;/div&gt;</span>
<a name="l14"><span class="ln">14   </span></a>        <span class="s1">&lt;/div&gt;</span>
<a name="l15"><span class="ln">15   </span></a>    <span class="s1">&lt;/div&gt;</span>
<a name="l16"><span class="ln">16   </span></a><span class="s1">&lt;/div&gt;</span>
<a name="l17"><span class="ln">17   </span></a><span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s1">&gt;</span>
<a name="l18"><span class="ln">18   </span></a>    <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;row&quot;</span><span class="s1">&gt;</span>
<a name="l19"><span class="ln">19   </span></a>        <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;col-md-6&quot;</span><span class="s1">&gt;</span>
<a name="l20"><span class="ln">20   </span></a>     <span class="s1">&lt;form </span><span class="s2">method</span><span class="s3">=&quot;POST&quot; </span><span class="s2">class</span><span class="s3">=&quot;p-3 shadow&quot;</span><span class="s1">&gt;</span>
<a name="l21"><span class="ln">21   </span></a>             <span class="s0">{% csrf_token %}</span>
<a name="l22"><span class="ln">22   </span></a>         <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;form-group&quot;</span><span class="s1">&gt;</span>
<a name="l23"><span class="ln">23   </span></a>    <span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;text&quot; </span><span class="s2">class</span><span class="s3">=&quot;form-control&quot; </span><span class="s2">name</span><span class="s3">=&quot;task&quot; </span><span class="s2">placeholder</span><span class="s3">=&quot;TaskName&quot;</span><span class="s1">&gt;</span>
<a name="l24"><span class="ln">24   </span></a><span class="s1">&lt;/div&gt;</span>
<a name="l25"><span class="ln">25   </span></a><span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;form-group&quot;</span><span class="s1">&gt;</span>
<a name="l26"><span class="ln">26   </span></a>  <span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;text&quot; </span><span class="s2">class</span><span class="s3">=&quot;form-control&quot; </span><span class="s2">name</span><span class="s3">=&quot;priority&quot; </span><span class="s2">placeholder</span><span class="s3">=&quot;Enter your priority&quot;</span><span class="s1">&gt;</span>
<a name="l27"><span class="ln">27   </span></a><span class="s1">&lt;/div&gt;</span>
<a name="l28"><span class="ln">28   </span></a>         <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;form-group&quot;</span><span class="s1">&gt;</span>
<a name="l29"><span class="ln">29   </span></a>  <span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;date&quot; </span><span class="s2">class</span><span class="s3">=&quot;form-control&quot; </span><span class="s2">name</span><span class="s3">=&quot;date&quot; </span><span class="s2">placeholder</span><span class="s3">=&quot;Enter your date&quot;</span><span class="s1">&gt;</span>
<a name="l30"><span class="ln">30   </span></a><span class="s1">&lt;/div&gt;</span>
<a name="l31"><span class="ln">31   </span></a>    <span class="s1">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;submit&quot; </span><span class="s2">class</span><span class="s3">=&quot;btn btn-success&quot;</span><span class="s1">&gt;</span>
<a name="l32"><span class="ln">32   </span></a>         <span class="s1">&lt;/form&gt;</span>
<a name="l33"><span class="ln">33   </span></a>
<a name="l34"><span class="ln">34   </span></a>
<a name="l35"><span class="ln">35   </span></a>    <span class="s1">&lt;/div&gt;</span>
<a name="l36"><span class="ln">36   </span></a>        <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;col-md-6&quot;</span><span class="s1">&gt;</span>
<a name="l37"><span class="ln">37   </span></a>            <span class="s1">&lt;link </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s2">href</span><span class="s3">=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css&quot; </span><span class="s2">integrity</span><span class="s3">=&quot;sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3&quot; </span><span class="s2">crossorigin</span><span class="s3">=&quot;anonymous&quot;</span><span class="s1">&gt;</span>
<a name="l38"><span class="ln">38   </span></a>            <span class="s1">&lt;h4&gt; </span><span class="s0">Task to be completed</span><span class="s1">&lt;/h4&gt;</span>
<a name="l39"><span class="ln">39   </span></a>             <span class="s0">{% for i in task1 %}</span>
<a name="l40"><span class="ln">40   </span></a>            <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;shadow card&quot;</span><span class="s1">&gt;</span>
<a name="l41"><span class="ln">41   </span></a>                <span class="s1">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;card-body&quot;</span><span class="s1">&gt;</span>
<a name="l42"><span class="ln">42   </span></a>                    <span class="s1">&lt;h5 </span><span class="s2">class</span><span class="s3">=&quot;card-title&quot;</span><span class="s1">&gt;</span><span class="s0">{{i.name}}</span><span class="s1">&lt;/h5&gt;</span>
<a name="l43"><span class="ln">43   </span></a>                    <span class="s1">&lt;p&gt;&lt;b&gt;</span><span class="s0">{{i.priority}}</span><span class="s1">&lt;/b&gt;&lt;/p&gt;</span>
<a name="l44"><span class="ln">44   </span></a>                    <span class="s1">&lt;p&gt;&lt;b&gt;</span><span class="s0">{{i.date}}</span><span class="s1">&lt;/b&gt;&lt;/p&gt;</span>
<a name="l45"><span class="ln">45   </span></a>                    <span class="s1">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;btn btn-danger&quot; </span><span class="s2">href</span><span class="s3">=&quot;{% url 'delete' i.id %}&quot; </span><span class="s1">&gt;</span><span class="s0">delete</span><span class="s1">&lt;/a&gt;</span>
<a name="l46"><span class="ln">46   </span></a>                     <span class="s1">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;btn btn-danger&quot; </span><span class="s2">href</span><span class="s3">=&quot;{% url 'update' i.id %}&quot; </span><span class="s1">&gt;</span><span class="s0">update</span><span class="s1">&lt;/a&gt;</span>
<a name="l47"><span class="ln">47   </span></a>                <span class="s1">&lt;/div&gt;</span>
<a name="l48"><span class="ln">48   </span></a>            <span class="s1">&lt;/div&gt;</span>
<a name="l49"><span class="ln">49   </span></a>            <span class="s1">&lt;br&gt;</span>
<a name="l50"><span class="ln">50   </span></a>            <span class="s0">{% endfor %}</span>
<a name="l51"><span class="ln">51   </span></a>        <span class="s1">&lt;/div&gt;</span>
<a name="l52"><span class="ln">52   </span></a><span class="s1">&lt;/div&gt;</span>
<a name="l53"><span class="ln">53   </span></a>
<a name="l54"><span class="ln">54   </span></a><span class="s1">&lt;/div&gt;</span>
<a name="l55"><span class="ln">55   </span></a><span class="s0">{% endblock %}</span></pre>
</body>
</html>